swagger: '2.0'
info:
  description: >-
    For your information, the Yousign API documentation is available at
    https://dev.yousign.com/
  version: '2.1'
  title: Yousign API Swagger
  contact:
    name: our technical support
    email: support@yousign.fr
host: api.yousign.com
schemes:
  - https
consumes:
  - application/json
produces:
  - application/json
paths:
  /organizations:
    get:
      tags:
        - Organizations
      summary: List all Organizations
      responses:
        '200':
          description: Status 200
          schema:
            type: array
            items:
              $ref: '#/definitions/OrganizationOutput'
  /users:
    get:
      tags:
        - Users
      summary: List all Users
      responses:
        '200':
          description: Status 200
          schema:
            type: array
            items:
              $ref: '#/definitions/UserOutput'
  /files:
    post:
      tags:
        - Files
      summary: Create a new File
      description: Used to upload a file in base64 on our platform
      consumes: []
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/FileInput'
      responses:
        '201':
          description: Status 201
          schema:
            $ref: '#/definitions/FileOutput'
  /procedures:
    post:
      tags:
        - Procedures
      summary: Create a new Procedure
      consumes: []
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ProcedureInput'
      responses:
        '201':
          description: Status 201
          schema:
            $ref: '#/definitions/ProcedureOutput'
        '400':
          description: Status 400
securityDefinitions:
  ApiKey:
    type: apiKey
    name: Authorization
    in: header
definitions:
  OrganizationOutput:
    type: object
    properties:
      id:
        type: string
        description: Organization ID
        pattern: '^/organizations/[0-9a-f]{8}-([0-9a-f]{4}-){3}[0-9a-f]{12}$'
        example: /organizations/9d1ede2b-5687-4440-bdc8-dd0bc64f668c
      name:
        type: string
        description: Organization name
      url:
        type: string
        description: >-
          Custom URL for the Organization (internal usage only, should not be
          used)
      createdAt:
        type: string
        example: '2020-11-10T14:51:00+01:00'
        format: date-time
        description: Date of creation
      updatedAt:
        type: string
        example: '2020-11-10T14:51:00+01:00'
        format: date-time
        description: Date of last update
      fSso:
        type: boolean
        description: 'Internal usage, should not be used'
      maxUsers:
        type: number
        description: 'Internal usage, should not be used'
      procedureRelatedFilesEnable:
        type: boolean
        description: Defined if the organization anable the related files
      subscriptions:
        type: array
        items:
          type: string
      autoCollection:
        type: boolean
        description: 'Internal usage, should not be used'
      vatNumber:
        type: string
        description: 'Internal usage, should not be used'
      billingAddress:
        $ref: '#/definitions/OrganizationBillingAddress'
      inAppSupport:
        type: boolean
        description: 'Internal usage, should not be used'
      inAppUpdates:
        type: string
        description: 'Internal usage, should not be used'
      fileTemplate:
        type: boolean
        description: 'Internal usage, should not be used'
      fArchive:
        type: boolean
        description: 'Internal usage, should not be used'
      fUserPermissions:
        type: boolean
        description: 'Internal usage, should not be used'
      fProcedureTemplate:
        type: boolean
        description: 'Internal usage, should not be used'
      fProcedureReminderAuto:
        type: boolean
        description: 'Internal usage, should not be used'
      fApi:
        type: boolean
        description: 'Internal usage, should not be used'
      fCheckdocument:
        type: boolean
        description: 'Internal usage, should not be used'
      fProcedureCreate:
        type: boolean
        description: 'Internal usage, should not be used'
      fSignatureUi:
        type: boolean
        description: 'Internal usage, should not be used'
      fServerStamp:
        type: boolean
        description: 'Internal usage, should not be used'
      fOperationLevelNone:
        type: boolean
        description: 'Internal usage, should not be used'
      fConsentProcess:
        type: boolean
        description: 'Internal usage, should not be used'
      fOperationLevelAdvanced:
        type: boolean
        description: 'Internal usage, should not be used'
      fOperationCustomModeEmail:
        type: boolean
        description: 'Internal usage, should not be used'
      fDynamicFields:
        type: boolean
        description: 'Internal usage, should not be used'
      samlIdentityProvider:
        type: string
        description: 'Internal usage, should not be used'
      passwordPolicyPattern:
        type: string
        description: Pattern of the password policy for the organization
      passwordPolicyDescription:
        type: string
        description: Description for the password policy
      userActivation:
        type: boolean
        description: 'Internal usage, should not be used'
      fProcedureTemplatePermissions:
        type: boolean
        description: 'Internal usage, should not be used'
  ConfigEmailTemplate:
    type: object
    required:
      - message
      - subject
      - to
    properties:
      to:
        type: array
        description: Reference or email of recipients
        items:
          type: string
          description: >-
            You can given an array of recipients.


            A recipient can be a specific email like `my-user@email.com` or a
            variable which is available in the list below.
          enum:
            - '@members'
            - '@members.auto'
            - '@members.pending'
            - '@members.processing'
            - '@members.done'
            - '@members.refused'
            - '@member'
            - '@creator'
            - '@subscribers'
            - '@subscribers.groupName1'
            - '@subscribers.groupName2'
      subject:
        type: string
        description: Subject of the mail
      message:
        type: string
        description: Object of the mail
      fromName:
        type: string
        description: Modify the from name
        default: Yousign
  OperationModeSmsConfiguration:
    type: object
    required:
      - content
    properties:
      content:
        type: string
        description: >-
          Content of your custom sms message. Should contains the substring
          `{{code}}`
        example: 'Hello, your code for signature is {{code}}.'
  MemberOutput:
    type: object
    properties:
      id:
        type: string
        description: Id of the object
        pattern: '^/members/[0-9a-f]{8}-([0-9a-f]{4}-){3}[0-9a-f]{12}$'
        example: /members/9d1ede2b-5687-4440-bdc8-dd0bc64f668c
      user:
        type: string
        description: >-
          Internal user associated with the member. In this case, informations
          about the member will be informations of the user (first name, last
          name, phone number and email).
        pattern: '^/users/[0-9a-f]{8}-([0-9a-f]{4}-){3}[0-9a-f]{12}$'
        example: /users/9d1ede2b-5687-4440-bdc8-dd0bc64f668c
      type:
        type: string
        description: >-
          Type of a member. "signer" to sign documents (legally) and "validator"
          to validate documents.
        default: signer
        enum:
          - signer
          - validator
      firstname:
        type: string
        description: Firstname of an external member.
      lastname:
        type: string
        description: Lastname of an external member.
      email:
        type: string
        description: Email of an external member.
        example: test@test.com
      phone:
        type: string
        description: Phone of an external member.
        example: '+33102030405'
      position:
        type: integer
        format: int32
        description: >-
          Position of the member if ordered is set to true. Example with two
          members, the first one could have a position set to 1, the second one
          set to 2. In this case, when the procedure starts, only the first
          member will be notified and could validate the documents. The second
          one could not validate the documents, he will be notified when the
          first signer is notified.
      createdAt:
        type: string
        format: date-time
        example: '2020-11-10T14:51:00+01:00'
        description: Date of creation
      updatedAt:
        type: string
        format: date-time
        example: '2020-11-10T14:51:00+01:00'
        description: Date of last update
      status:
        type: string
        example: pending
        enum:
          - pending
          - processing
          - done
          - refused
          - error
      fileObjects:
        type: array
        items:
          $ref: '#/definitions/FileObjectOutput'
      comment:
        type: string
        description: Comment of a member when he refuses a signature
      procedure:
        type: string
        description: Procedure id reference
        example: /procedures/81f46049-150f-497c-9514-2510b635be0e
      operationLevel:
        type: string
        example: custom
        enum:
          - none
          - advanced
          - custom
      operationCustomModes:
        type: array
        items:
          type: string
          enum:
            - sms
            - inwebo
            - email
            - checkIdCard
      operationModeSmsConfig:
        $ref: '#/definitions/OperationModeSmsConfiguration'
  ProcedureConfigReminder:
    type: object
    required:
      - interval
    properties:
      interval:
        type: integer
        format: int32
        description: >-
          Number of days between each reminder. The date of the creation of the
          procedure is used to define the date of the reminder. For example, if
          you set 2 and the procedure is created at 2017-01-01T15:03:01, the
          first reminder will be sent at 2017-01-03T15:03:01.
        default: 1
        minimum: 1
      limit:
        type: integer
        format: int32
        description: Limit of reminders sent.
        default: 5
        minimum: 1
        maximum: 90
      config:
        $ref: '#/definitions/ProcedureConfigReminderConfig'
  ProcedureConfigReminderConfig:
    type: object
    properties:
      email:
        $ref: '#/definitions/ProcedureConfigReminderConfigEmail'
  ProcedureConfigReminderConfigEmail:
    type: object
    properties:
      reminder.executed:
        type: array
        items:
          $ref: '#/definitions/ConfigEmailTemplate'
  ProcedureConfigWebhook:
    type: object
    properties:
      procedure.started:
        type: array
        items:
          $ref: '#/definitions/ConfigWebhookTemplate'
      procedure.finished:
        type: array
        items:
          $ref: '#/definitions/ConfigWebhookTemplate'
      procedure.refused:
        type: array
        items:
          $ref: '#/definitions/ConfigWebhookTemplate'
      procedure.expired:
        type: array
        items:
          $ref: '#/definitions/ConfigWebhookTemplate'
      procedure.deleted:
        type: array
        items:
          $ref: '#/definitions/ConfigWebhookTemplate'
      procedure.error:
        type: array
        items:
          $ref: '#/definitions/ConfigWebhookTemplate'
      member.started:
        type: array
        items:
          $ref: '#/definitions/ConfigWebhookTemplate'
      member.finished:
        type: array
        items:
          $ref: '#/definitions/ConfigWebhookTemplate'
      comment.created:
        type: array
        items:
          $ref: '#/definitions/ConfigWebhookTemplate'
  ConfigWebhookTemplate:
    type: object
    required:
      - url
    properties:
      url:
        type: string
        description: Url to call
      method:
        type: string
        description: Http request type
        default: GET
        enum:
          - GET
          - POST
          - PUT
          - PATCH
      headers:
        type: object
        description: Http request headers
        example:
          X-Yousign-Custom-Header: Test value
  FileObjectInput:
    type: object
    required:
      - file
    properties:
      file:
        type: string
        description: File id reference
      page:
        type: integer
        format: int32
        description: >-
          Page of the visible signature. This property is ignored if fieldName
          is set. 

          If you want a visible signature, you must set page, position and
          fieldName.
      position:
        type: string
        description: >-
          Coordinates of the signature image to set. Format is :
          "llx,lly,urx,ury". llx=left lower x coordinate, lly=left lower y
          coordinate, urx=upper right x coordinate, ury = upper right y
          coordinate. To get easily coordinates, you could use this tool :
          http://placeit.yousign.fr
        pattern: '/^\d+(,\d+){3}$/'
        example: '400,700,500,800'
      fieldName:
        type: string
        description: >-
          [type=signature] Name of the signature field existing in the document,
          it will be not used on the signature image.
      mention:
        type: string
        nullable: true
        description: >-
          [type=signature] Text associated above the signature image.


          You can use some variable inside : {{date.en}} {{date.fr}} {{time.en}}
          {{time.fr}} that it will be parsed to show the date of the signature.
      mention2:
        type: string
        nullable: true
        description: >-
          [type=signature] Text associated below the signature image. (internal
          usage only, should not be used).


          You can use some variable inside : {{date.en}} {{date.fr}} {{time.en}}
          {{time.fr}} that it will be parsed to show the date of the signature.
      member:
        type: string
        description: Member id reference
      reason:
        type: string
        description: '[type=signature] The reason they are signing the agreement'
        default: Signed by Yousign
      type:
        type: string
        description: The type of the file object
        default: signature
        enum:
          - signature
          - text
      contentRequired:
        type: boolean
        description: '[type=text] Indicate if the member must fill or not the field'
        default: false
      content:
        type: string
        description: '[type=text] The content of the field. Could be used for placeholder'
        maxLength: 255
      fontFamily:
        type: string
        description: >-
          [type=text] The font familly used to render the TextField. Currently
          only the default value will be used.
        default: raleway
        enum:
          - raleway
      fontSize:
        type: integer
        format: int32
        description: >-
          [type=text] The font size used to render the field. Currently only the
          default value will be used.
        default: 12
        minimum: 6
        maximum: 20
      fontColor:
        type: string
        description: '[type=text] The font color used to render the field.'
        pattern: >-
          ^(0|255|25[0-4]|2[0-4]\d|1\d\d|0?\d?\d),(0|255|25[0-4]|2[0-4]\d|1\d\d|0?\d?\d),(0|255|25[0-4]|2[0-4]\d|1\d\d|0?\d?\d)$
        example: '0,0,0'
  FileObjectOutput:
    type: object
    required:
      - file
    properties:
      id:
        type: string
        description: Id of the object
        pattern: '^/file_objects/[0-9a-f]{8}-([0-9a-f]{4}-){3}[0-9a-f]{12}$'
        example: /file_objects/9d1ede2b-5687-4440-bdc8-dd0bc64f668c
      file:
        $ref: '#/definitions/FileOutput'
      page:
        type: integer
        format: int32
        description: >-
          Page of the visible signature. This property is ignored if fieldName
          is set. If you want a visible signature, you must set page, position
          and fieldName.
      position:
        type: string
        description: >-
          Coordinates of the signature image to set. Format is :
          “llx,lly,urx,ury”. llx=left lower x coordinate, lly=left lower y
          coordinate, urx=upper right x coordinate, ury = upper right y
          coordinate. To get easily coordinates, you could use this tool :
          http://placeit.yousign.fr
        pattern: '/^\d+(,\d+){3}$/'
        example: '400,700,500,800'
      fieldName:
        type: string
        description: '[type=signature] Name of the signature field existing in the document'
      mention:
        type: string
        nullable: true
        description: >-
          [type=signature] Text associated above the signature image.


          You can use some variable inside : {{date.en}} {{date.fr}} {{time.en}}
          {{time.fr}} that it will be parsed to show the date of the signature.
        example: Read and approuved
      createdAt:
        type: string
        format: date-time
        example: '2020-11-10T14:51:00+01:00'
        description: Date of creation
      updatedAt:
        type: string
        format: date-time
        example: '2020-11-10T14:51:00+01:00'
        description: Date of last update
      executedAt:
        type: string
        format: date-time
        example: '2020-11-10T14:51:00+01:00'
        description: Date of signature or validation
      reason:
        type: string
        description: '[type=signature] The reason they are signing the agreement'
        default: Signed by Firstname Lastname
      type:
        type: string
        description: The type of the file object
        default: signature
        enum:
          - signature
          - text
      contentRequired:
        type: boolean
        description: '[type=text] Indicate if the member must fill or not the field'
        default: false
      content:
        type: string
        description: '[type=text] The content of the field. Could be used for placeholder'
        maxLength: 255
      fontFamily:
        type: string
        description: >-
          [type=text] The font familly used to render the TextField. Currently
          only the default value will be used.
        default: raleway
        enum:
          - raleway
      fontSize:
        type: integer
        format: int32
        description: >-
          [type=text] The font size used to render the field. Currently only the
          default value will be used.
        default: 12
        minimum: 6
        maximum: 20
      fontColor:
        type: string
        description: '[type=text] The font color used to render the field.'
        pattern: >-
          ^(0|255|25[0-4]|2[0-4]\d|1\d\d|0?\d?\d),(0|255|25[0-4]|2[0-4]\d|1\d\d|0?\d?\d),(0|255|25[0-4]|2[0-4]\d|1\d\d|0?\d?\d)$
        example: '0,0,0'
  MemberInput:
    type: object
    properties:
      user:
        type: string
        example: /users/81f46049-150f-497c-9514-2510b635be0e
        description: >-
          ID of the user in your companies. Informations about the member will
          be duplicate (first name, last name, email and phone number).


          Required if none of fields above are specified.
      type:
        type: string
        description: >-
          Type of a member. "signer" to sign documents (legally) and "validator"
          to validate documents.
        default: signer
        example: signer
        enum:
          - signer
          - validator
      firstname:
        type: string
        description: Firstname of an external member. Required if user field is blank
        example: jones
      lastname:
        type: string
        description: Lastname of an external member. Required if user field is blank
        example: Indiana
      email:
        type: string
        description: Email of an external member. Required if user field is blank
        example: test@test.com
      phone:
        type: string
        description: Phone of an external member. Required if user field is blank
        example: '+33102030405'
      position:
        type: integer
        format: int32
        example: 1
        description: >-
          If the procedure have the boolean "ordered" at true, you can define
          position of the order to invite your members to sign.

          Only the first member will be invited to sign.


          When the first member have signed, the second will be invited, etc...
      fileObjects:
        type: array
        items:
          $ref: '#/definitions/FileObjectInput'
      procedure:
        type: string
        description: Procedure id reference
        example: /procedures/81f46049-150f-497c-9514-2510b635be0e
      operationLevel:
        type: string
        enum:
          - none
          - advanced
          - custom
      operationCustomModes:
        type: array
        items:
          type: string
          enum:
            - sms
            - inwebo
            - email
            - checkIdCard
      operationModeSmsConfig:
        $ref: '#/definitions/OperationModeSmsConfiguration'
  FileInput:
    type: object
    properties:
      name:
        type: string
        description: Name of the file
      type:
        type: string
        description: Type of the file
        enum:
          - signable
          - attachment
      password:
        type: string
        description: Password for protected PDF file
      description:
        type: string
        description: Description of the file
      metadata:
        type: object
        description: Metadata of the file
        properties:
          key1:
            type: string
          key2:
            type: integer
      content:
        type: string
        description: Content in base 64 of the file
      procedure:
        type: string
        description: Id of the procedure
        pattern: '^/procedures/[0-9a-f]{8}-([0-9a-f]{4}-){3}[0-9a-f]{12}$'
        example: /procedures/9d1ede2b-5687-4440-bdc8-dd0bc64f668c
      position:
        type: integer
        format: int32
        default: 0
  FileOutput:
    type: object
    properties:
      id:
        type: string
        description: Id of the object
        pattern: '^/files/[0-9a-f]{8}-([0-9a-f]{4}-){3}[0-9a-f]{12}$'
        example: /files/9d1ede2b-5687-4440-bdc8-dd0bc64f668c
      name:
        type: string
        description: Name of the file
      type:
        type: string
        description: Type of file
        enum:
          - signable
          - sign_image
          - attachment
      contentType:
        type: string
        description: Type of content
        example: application/pdf
      description:
        type: string
        description: Description of the file
      createdAt:
        type: string
        format: date-time
        example: '2020-11-10T14:51:00+01:00'
        description: Date of creation
      updatedAt:
        type: string
        format: date-time
        example: '2020-11-10T14:51:00+01:00'
        description: Date of last update
      workspace:
        type: string
        description: Id of workspace
        pattern: '^/workspaces/[0-9a-f]{8}-([0-9a-f]{4}-){3}[0-9a-f]{12}$'
        example: /workspaces/9d1ede2b-5687-4440-bdc8-dd0bc64f668c
      creator:
        type: string
        nullable: true
        description: Id of creator
        example: /users/9d1ede2b-5687-4440-bdc8-dd0bc64f668c
      sha256:
        type: string
        description: File hash
        example: 23203f9264161714cdb8d2f474b9b641e6a735f8cea4098c40a3cab8743bd749
      position:
        type: integer
        format: int32
        default: 0
  ProcedureInput:
    type: object
    properties:
      name:
        type: string
        description: Name of procedure
      description:
        type: string
        description: Description of procedure
      expiresAt:
        type: string
        format: date
        description: Expiration date. The procedure will be out of usage after this date.
      template:
        type: boolean
        description: >-
          Defines if the procedure is a template (if true). A template could be
          used by a procedure to get all properties of the template. Check
          parent parameter for more information.
      ordered:
        type: boolean
        description: >-
          Defines an order for the procedure process. If true, position of each
          member will be used to define the validation workflow.
      metadata:
        type: object
        description: >-
          Metadata of the file (do not forget to replace key1 and key2 by your
          own custom values)
        properties:
          key1:
            type: string
          key2:
            type: integer
      config:
        $ref: '#/definitions/ProcedureConfig'
      members:
        type: array
        description: 'List of members, REQUIRED if start field is true.'
        items:
          $ref: '#/definitions/MemberInput'
      start:
        type: boolean
        description: >-
          Defines if the procedure has been started. If false, the procedure
          status will be draft.
        default: true
      relatedFilesEnable:
        type: boolean
        description: >-
          Defines if related files are available. Used only for organization
          that have this option.
      archive:
        type: boolean
        description: >-
          Defines if the files of the procedure must be archived (Organization
          should be allowed)
        default: false
  ProcedureOutput:
    type: object
    properties:
      id:
        type: string
        description: Id of the object
        pattern: '^/procedures/[0-9a-f]{8}-([0-9a-f]{4}-){3}[0-9a-f]{12}$'
        example: /procedures/9d1ede2b-5687-4440-bdc8-dd0bc64f668c
      name:
        type: string
        description: Name of procedure
      description:
        type: string
        description: Description of procedure
      createdAt:
        type: string
        format: date-time
        example: '2020-11-10T14:51:00+01:00'
        description: Date of creation
      updatedAt:
        type: string
        format: date-time
        example: '2020-11-10T14:51:00+01:00'
        description: Date of last update
      expiresAt:
        type: string
        format: date-time
        example: '2020-11-10T14:51:00+01:00'
        description: Expiration date. The procedure will be out of usage after this date.
      status:
        type: string
        description: Status of the procedure
        enum:
          - draft
          - active
          - finished
          - expired
          - refused
          - error
      creator:
        type: string
        nullable: true
        description: Id of creator of the object
      creatorFirstName:
        type: string
        description: The creator's first name
      creatorLastName:
        type: string
        description: The creator's last name
      workspace:
        type: string
        description: Id of workspace creator of the object
        pattern: '^/workspaces/[0-9a-f]{8}-([0-9a-f]{4}-){3}[0-9a-f]{12}$'
        example: /workspaces/9d1ede2b-5687-4440-bdc8-dd0bc64f668c
      template:
        type: boolean
        description: >-
          Defines if the procedure is a template (if true). A template could be
          used by a procedure to get all properties of the template. Check
          parent parameter for more information.
      ordered:
        type: boolean
        description: >-
          Defines an order for the procedure process. If true, position of each
          member will be used to define the validation workflow.
      parent:
        type: string
        description: >-
          Id of a procedure template used to get all properties of the template
          in the new procedure. If you set other properties, they will be
          replaced. If you don’t set other properties, all properties will be
          cloned.
        example: /procedures/9d1ede2b-5687-4440-bdc8-dd0bc64f668c
      members:
        type: array
        items:
          $ref: '#/definitions/MemberOutput'
      files:
        type: array
        description: List of files used in the procedure.
        items:
          $ref: '#/definitions/FileOutput'
      relatedFilesEnable:
        type: boolean
        description: Defines if related files are available.
      archive:
        type: boolean
        description: >-
          Defines if the files of the procedure must be archived (Workspace
          should be allowed)
        default: false
  ProcedureConfig:
    type: object
    properties:
      email:
        $ref: '#/definitions/ProcedureConfigEmail'
      reminders:
        type: array
        items:
          $ref: '#/definitions/ProcedureConfigReminder'
      webhook:
        $ref: '#/definitions/ProcedureConfigWebhook'
  ProcedureConfigEmail:
    type: object
    properties:
      procedure.started:
        type: array
        items:
          $ref: '#/definitions/ConfigEmailTemplate'
      procedure.finished:
        type: array
        items:
          $ref: '#/definitions/ConfigEmailTemplate'
      procedure.refused:
        type: array
        items:
          $ref: '#/definitions/ConfigEmailTemplate'
      procedure.expired:
        type: array
        items:
          $ref: '#/definitions/ConfigEmailTemplate'
      procedure.deleted:
        type: array
        items:
          $ref: '#/definitions/ConfigEmailTemplate'
      member.started:
        type: array
        items:
          $ref: '#/definitions/ConfigEmailTemplate'
      member.finished:
        type: array
        items:
          $ref: '#/definitions/ConfigEmailTemplate'
      comment.created:
        type: array
        items:
          $ref: '#/definitions/ConfigEmailTemplate'
  OrganizationBillingAddress:
    type: object
    properties:
      firstName:
        type: string
        example: Jones
      lastName:
        type: string
        example: Indiana
      email:
        type: string
        example: test@test.com
      company:
        type: string
      phone:
        type: string
        example: '+33102030405'
      line1:
        type: string
        example: 3 rue du test
      city:
        type: string
        example: Paris
      country:
        type: string
        example: FR
      zip:
        type: string
        example: '75000'
  UserWorkspaceOutput:
    type: object
    properties:
      id:
        type: string
        description: Object's ID
        pattern: '^/workspaces/[0-9a-f]{8}-([0-9a-f]{4}-){3}[0-9a-f]{12}$'
        example: /workspaces/9d1ede2b-5687-4440-bdc8-dd0bc64f668c
      name:
        type: string
        description: Workspace name
  UserGroup:
    type: object
    required:
      - name
    properties:
      id:
        type: string
        description: Id of the object
        pattern: '^/user_groups/[0-9a-f]{8}-([0-9a-f]{4}-){3}[0-9a-f]{12}$'
        example: /user_groups/9d1ede2b-5687-4440-bdc8-dd0bc64f668c
      name:
        type: string
        description: Name of the UserGroup
      permissions:
        type: array
        description: Permissions of UserGroup
        items:
          type: string
          enum:
            - procedure_write
            - procedure_template_write
            - procedure_create_from_template
            - sign
            - workspace
            - user
            - api_key
            - contact
            - procedure_custom_field
            - signature_ui
            - server_stamp
            - certificate
            - archive
            - organization
            - contact_custom_field
  UserOutput:
    type: object
    required:
      - email
      - firstname
      - lastname
    properties:
      id:
        type: string
        description: Object's ID
        pattern: '^/users/[0-9a-f]{8}-([0-9a-f]{4}-){3}[0-9a-f]{12}$'
        example: /users/9d1ede2b-5687-4440-bdc8-dd0bc64f668c
      firstname:
        type: string
        description: User's firstname
        example: Jones
      lastname:
        type: string
        description: User's lastname
        example: Indiana
      email:
        type: string
        description: User's email address
        example: test@test.com
      title:
        type: string
        description: User's title
      phone:
        type: string
        example: '+33102030405'
        description: >-
          User's phone number (mobiles and landline telephones are supported).
          Phone number must be formatted to E164
          (https://en.wikipedia.org/wiki/E.164) which includes the symbol '+'
          and the country code. For example : +33612131315. All countries are
          supported.
      status:
        type: string
        description: User's status
        example: activated
        enum:
          - not_activated
          - activated
      organization:
        type: string
        description: ID of the organization the user belongs to
        example: /organizations/b7599d85-4076-4752-94fb-8fbe10147e60
      workspaces:
        type: array
        description: List of workspaces to which the user is connected and has access
        items:
          $ref: '#/definitions/UserWorkspaceOutput'
      permission:
        type: string
      group:
        $ref: '#/definitions/UserGroup'
      createdAt:
        type: string
        example: '2020-11-10T14:51:00+01:00'
        format: date-time
        description: Date of creation
      updatedAt:
        type: string
        example: '2020-11-10T14:51:00+01:00'
        format: date-time
        description: Date of last update
      deleted:
        type: boolean
        description: Defines if the User is deleted or not
      config:
        type: object
      inweboUserRequest:
        type: string
        description: 'Internal usage, should not be used'
        example: /inwebo_user_requests/b7599d85-4076-4752-94fb-8fbe10147e60
      samlNameId:
        type: string
        description: ID of SAML
      defaultSignImage:
        type: string
        description: ID of the default sign image.
        example: /files/9d1ede2b-5687-4440-bdc8-dd0bc64f668c
      notifications:
        type: object
        description: Defines if the notifications are enable ou disable for entities
        properties:
          procedure:
            type: boolean
        example: |-
          {
            "procedure": true
          }
      fastSign:
        type: boolean
        description: >-
          Defines if the fast signature is available for the user on the Yousign
          application
      fullName:
        type: string
        description: User's full name